@font-face {
  font-family: 'NexaBold';
  src: url('./Fonts/NexaBold.ttf.woff') format('woff'),
    url('./Fonts/NexaBold.ttf.svg#NexaBold') format('svg'),
    url('./Fonts/NexaBold.ttf.eot'),
    url('./Fonts/NexaBold.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NexaLight';
  src: url('./Fonts/NexaLight.ttf.woff') format('woff'),
    url('./Fonts/NexaLight.ttf.svg#NexaLight') format('svg'),
    url('./Fonts/NexaLight.ttf.eot'),
    url('./Fonts/NexaLight.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: 'NexaBold';
}
a {
  text-decoration: none;
}
button {
  border: none !important;
  outline: none !important;
  /* background-color: #101010; */
  color: white;
  font-size: 18px;
  font-family: 'NexaBold';
  cursor: pointer;
}

.header {
  width: 100vw;
  height: 70px;
  background-color: #101010;
  color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}

.menu {
  margin-left: 35px;
  padding-top: 20px;
  font-size: 18px;
}

.menu button {
  border: none !important;
  outline: none !important;
  background-color: #101010;
  color: white;
  font-size: 18px;
  font-family: 'NexaBold';
  margin-right: 15px;
  opacity: 0.5;
  padding: 4px 6px;
}

.menu-active {
  opacity: 1 !important;
}
.menu-btns {
  margin-right: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu-btns button {
  opacity: 1;
}

.menu-btns button:nth-child(1) {
  background-color: white;
  color: black;
  padding: 0px 25px;
  border-radius: 3px;
  /* margin-top: 12px; */
  padding-top: 15px;
  padding-bottom: 12px;
  margin-right: 12px;
}

.menu-btns button:nth-child(2) {
  background-color: #87bba2;
  color: black;
  padding: 0px 25px;
  border-radius: 3px;
  /* margin-top: 12px; */
  padding-top: 15px;
  padding-bottom: 12px;
  margin-right: 30px;
}

.menu-btns img {
  /* padding-top: 20px; */
}

.block-video {
  width: 100vw;
  height: 100vh;
  background-color: #101010;
}

.video {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0px 10px;
  padding-top: 70px;
  padding-bottom: 10px;
}

.round-block {
  width: 100%;
  height: 100%;
  background-color: #13281a;
  border-radius: 10px;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-text,
.small-text {
  width: 60%;
  text-align: center;
}
.main-text {
  font-size: 68px;
  margin-bottom: 56px;
}

.med-text {
  color: white;
  font-size: 45px;
  /* width: 60%; */
  text-align: center;
}

.small-text {
  font-family: 'NexaLight';
  font-size: 22px;
}

.what-is {
  display: flex;
  width: 100vw;
  flex-direction: column;
}

.what-is1 {
  width: 100%;
  height: 600px;
  background: url(./Images/background.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.what-is2 {
  width: 100%;
  background-color: #27513d;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.what-is3 {
  width: 100%;
  height: 700px;
  background: url(./Images/background2.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.features {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 65px;
}

.feature {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.feature img {
  width: 45px;
  margin-bottom: 30px;
}

.feature-main-text {
  font-size: 20px;
  margin-bottom: 18px;
}

.feature-text {
  font-size: 16px;
}

.main-text-left {
  width: 80%;
  font-size: 64px;
  padding-top: 105px;
  margin-bottom: 85px;
}

.usage {
  background-color: #171717;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.usage-main-text {
  color: white;
  font-size: 45px;
  padding-top: 85px;
  margin-bottom: 115px;
}

.usage-main-text span {
  color: #00ae5b;
}

.usage-options {
  width: 90%;
}
.usage-option {
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
  align-items: center;
  color: white;
  float: left;
  margin: 0px 2.5%;
  margin-bottom: 40px;
  height: 140px;
}
.usage-option img {
  /* width: 40%; */
  height: 80px;
  margin-bottom: 20px;
}

.mission {
  display: flex;
  flex-direction: column;
}
.mission-img {
  width: 100vw;
  height: 500px;
  background: url(./Images/background3.png);
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.mission-block {
  width: 100%;
  background-color: #0b1723;
  color: white;
  font-size: 36px;
  display: flex;
  justify-content: center;
}

.mission-text {
  width: 80%;
  padding: 90px 0px;
}

.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clients-text {
  width: 60%;
  font-size: 42px;
  padding-top: 80px;
  margin-bottom: 120px;
  text-align: center;
}

.clients-imgs {
  width: 60%;
  margin-bottom: 70px;
}

.clients-imgs div {
  width: 28%;
  margin: 0px 2.5%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.clients-imgs img {
  width: 80%;
}

.showreel {
  width: 100vw;
  /* height: 100vh; */
  background-color: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showreel-text {
  font-size: 64px;
  width: 89%;
  padding-top: 50px;
  color: white;
}

.showreel-block {
  width: 100%;
  /* height: 700px; */
  margin-top: 60px;
  padding: 0px 20px;
  margin-bottom: 60px;
  box-sizing: border-box;
}

.showreel-imgs {
  width: 100%;
  height: 700px;
  background-color: #684b4b;
  border-radius: 5px;
  position: relative;
}

.showreel-menu {
  width: 100%;
  bottom: 50px;
  position: absolute;
  box-sizing: border-box;
  padding: 0px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.showreel-back-img {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.showreel-menu button {
  background: none !important;
}

.arrow-r {
  transform: rotate(180deg);
}

.circles {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 2%;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: white !important;
  opacity: 0.5;
  cursor: pointer;
}
button.circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: white !important;
  opacity: 0.5;
  cursor: pointer;
}
.image-frame {
  box-sizing: border-box;
  /* padding: 50px; */
  width: 100%;
  height: 100%;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
}

.image-frame div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
}

.image-frame img {
  width: 100%;
}

.cases {
  background-color: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cases-list {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 85px;
}

.cases-item {
  width: 32%;
  margin: 0px 0.5%;
  height: 450px;
  background-color: #542c93;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.cases-item-logo {
  width: 140px;
  height: 40px;
  border-radius: 100px;
  background-color: white;
  margin-left: 25px;
  margin-top: 25px;
}

.gradient-block {
  width: 100%;
  padding: 15px;
  padding-top: 30px;
  box-sizing: border-box;
  height: 100%;
}

.gradient {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 0px 10px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.1) 100%
  );
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gradient-dark {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 0px 10px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(0, 0, 0, 0.1) 100%
  );
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gradient-text {
  font-size: 32px;
}

.gradient-date {
  font-size: 22px;
}

.gradient-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: 20px;
  font-family: 'NexaLight';
  overflow: hidden;
  margin-bottom: 25px;
  padding: 2px 0px;
}
.gradient-link img {
  width: 20px;
  margin-right: 14px;
}

.cases-item:nth-child(2) {
  background-color: #00d841;
  font-family: 'Montserrat', sans-serif;
  line-height: 27px;
}
.cases-item:nth-child(3) {
  background-color: #3b7cca;
}
.cases-item:nth-child(4) {
  background-color: #dfbf17;
}
.cases-item:nth-child(5) {
  background-color: #e37623;
  font-family: 'Montserrat', sans-serif;
  line-height: 27px;
}
.cases-item:nth-child(6) {
  background-color: #e50075;
}
.cases-item:nth-child(7) {
  background-color: #0e3b8c;
}
.cases-item:nth-child(8) {
  background-color: #3c3c3c;
  font-family: 'Montserrat', sans-serif;
  line-height: 27px;
}
.cases-item:nth-child(9) {
  background-color: #f6d636;
  font-family: 'Montserrat', sans-serif;
  line-height: 27px;
}
.cases-item:nth-child(10) {
  background-color: #26abe2;
}

.form {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  background: rgb(52, 121, 88);
  background: linear-gradient(
    180deg,
    rgba(52, 121, 88, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  position: relative;
}

.form-lines {
  width: 100%;
  height: 100%;
  background: url('./Images/kines.png');
  position: absolute;
}

.form1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  z-index: 1;
}

.form1-text {
  font-size: 64px;
  display: flex;
  align-items: center;
  padding: 0px 60px;
  color: white;
  opacity: 0.8;
}

.brand {
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 1;
  box-sizing: border-box;
}

.brand-head {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding-left: 60px;
  font-size: 48px;
  justify-content: space-between;
}
.brand-line {
  width: calc(70% - 80px);
  height: 1px;
  background-color: white;
  opacity: 0.3;
  position: relative;
  top: -4px;
}

.brand-head-text {
  position: relative;
  top: -30px;
  width: 30%;
}

.brand-ltd,
.brand-adress,
.brand-contacts {
  box-sizing: border-box;
  padding-left: 115px;
  margin-bottom: 20px;
  font-size: 22px;
}

.brand-ltd {
  font-size: 32px;
  position: relative;
  left: -50px;
}

.brand-ltd img {
  margin-right: 14px;
}

.brand-adress {
  font-family: 'Nexa Light';
}

.brand-contacts {
  margin-bottom: 100px;
}

.form-block {
  color: white;
  z-index: 2;

  display: flex;
  flex-direction: column;
}

.form-l-r {
  width: 100%;
  box-sizing: border-box;
  padding: 40px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-l-r input,
.form-l-r textarea {
  background-color: #347958;
  outline: none;
  border-radius: 5px;
  padding: 18px 20px;
  padding-top: 22px;
  color: white;
  font-size: 28px;
  border: none;
  font-family: 'Nexa Bold';
}

.form-l-r textarea {
  height: 136px !important;
}

.form-l-r input[type='checkbox'] {
  position: relative;
  cursor: pointer;
  padding: 40px;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  margin-top: 16px;
}

input[type='checkbox']:before {
  content: '';
  display: block;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 0;
  left: 0;
  border: none;
  border-radius: 3px;
  background-color: white;
}
input[type='checkbox']:checked:after {
  content: '';
  display: block;
  height: 32px;
  width: 22px;
  border: solid #347958;
  border-width: 0px 4px 4px 0;
  transform: rotate(49deg);
  position: absolute;
  top: 2px;
  left: 13px;
}

.form-l {
  width: 30%;
}
.form-r {
  width: 68%;
}

.form-r img {
  width: 100%;
  min-width: 500px;
}

*:focus {
  outline: none;
}

.inp {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 40px;
}
.inp label {
  background-color: #357857;
  width: fit-content;
  border-radius: 5px 5px 0px 0px;
  font-size: 22px;
  margin-left: 20px;
  padding: 6px 12px;
  position: absolute;
  top: -23px;
}

.inp label span {
  opacity: 0.5;
}

.inp-check {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.check-text {
  font-size: 18px;
  margin-left: 20px;
  margin-top: 16px;
}

.sumbit-block {
  width: 100%;
  box-sizing: border-box;
  padding: 0px 60px;
  margin-bottom: 60px;
}
.sumbit-block button {
  width: 100%;
  height: 70px;
  background-color: white;
  border-radius: 5px;
  color: #347958;
  font-size: 25px;
  padding-top: 8px;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 40px 60px;
  background-color: black;
  color: white;
  font-size: 16px;
  justify-content: space-between;
}

.column-name {
  opacity: 0.5;
  font-size: 20px;
  margin-bottom: 35px;
}

.column-item {
  margin-bottom: 15px;
  cursor: pointer;
}

.column-item-app {
  background-color: white;
  display: flex;
  flex-direction: row;
  height: 45px;
  width: 180px;
  border-radius: 50px;
  cursor: pointer;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 15px;
}
.column-item-app img {
  width: 25px;
}

.app-l {
  display: flex;
  align-items: center;
}

.app-r {
  color: black;
  margin-left: 15px;
}

.app-r1 {
  font-size: 13px;
  color: #8e8e8e;
}
.app-r1 {
  font-size: 16px;
}

.footer-column a img {
  width: 35px;
}

.footer-column a:nth-child(2) {
  margin-left: 20px;
}

.footer-column:nth-child(4) {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 1260px) {
  .form1-text {
    font-size: 40px;
  }

  button.circle {
    width: 5px;
    height: 12px;
  }
  .gradient-text {
    font-size: 26px;
  }
}

@media screen and (max-width: 1000px) {
  .cases-list {
    flex-direction: column;
  }
  .cases-item {
    width: 100%;
  }
  .form-l-r {
    flex-direction: column;
  }
  .form-l,
  .form-r {
    width: 100%;
  }
  .menu {
    display: none;
  }

  .menu-btns {
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
  }

  .menu-btns button:nth-child(n) {
    margin: 0px;
  }
}

@media screen and (max-width: 920px) {
  .main-text,
  .small-text,
  .main-text-left,
  .features {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 60px;
  }

  .main-text-left {
    padding-top: 105px;
  }
  .features {
    flex-direction: column;
  }
  .feature {
    width: 100%;
    margin-bottom: 50px;
  }
  .arrow-l,
  .arrow-r {
    width: 50px;
  }
  .form-r {
    display: none;
  }
  .form1 {
    padding: 100px 0px;
  }
}

@media screen and (max-width: 720px) {
  .usage-option {
    width: 45%;
  }

  .footer {
    flex-direction: column;
  }

  .footer-column {
    margin-bottom: 50px;
  }

  .footer-column:nth-child(4) {
    width: 100%;
    justify-content: flex-start;
  }

  .main-text,
  .main-text-left,
  .med-text,
  .usage-main-text,
  .clients-text,
  .showreel-text,
  .form1-text {
    font-size: 8vw;
  }

  .showreel-text {
    margin-bottom: 40px;
  }

  .gradient-text,
  .brand-head-text,
  .column-name {
    font-size: 7vw;
  }

  .brand-ltd,
  .brand-contacts {
    font-size: 6vw;
  }

  .small-text,
  .feature-main-text,
  .mission-text,
  .usage-option,
  .gradient-date,
  .gradient-link,
  .brand-adress,
  .column-item {
    font-size: 5vw;
  }

  .feature-text,
  .usage-option {
    font-size: 4vw;
  }

  .main-text,
  .small-text,
  .main-text-left,
  .features {
    padding: 0px 20px;
  }
  .main-text-left {
    padding-top: 105px;
  }
  .usage-main-text {
    padding: 0px 15px;
    padding-top: 85px;
  }
  .clients-text,
  .clients-imgs {
    width: 100%;
    box-sizing: border-box;
    padding-top: 0px 15px;
    padding-top: 80px;
  }
  .clients-imgs div {
    width: 45%;
  }

  .form1 {
    padding: 100px 15px;
    box-sizing: border-box;
  }

  .form1-text {
    padding: 0px;
  }

  .brand-head {
    padding-left: 15px;
  }

  .brand-line {
    width: calc(60% - 80px);
  }

  .brand-head-text {
    top: -4vw;
    width: 60%;
  }

  .brand-ltd,
  .brand-adress,
  .brand-contacts {
    padding-left: 66px;
  }

  .form-l-r {
    padding: 40px 15px;
  }

  .sumbit-block {
    padding: 0px 15px;
  }

  .showreel-menu {
    padding: 0px;
  }

  button.circle {
    padding: 0px;
    width: 4px;
    height: 4px;
  }

  .footer {
    padding: 40px 15px;
  }
  .menu-btns button:nth-child(n) {
    font-size: 3vw;
    padding: 0px 5px;
    padding-top: 15px;
    padding-bottom: 12px;
  }

  .arrow-l,
  .arrow-r {
    width: 30px;
  }

  .circles {
    width: 70%;
    padding: 0px;
  }
}
